.add-costs-modal__product-row {
  display: flex;
  align-items: baseline;
}

.add-costs-modal__product-name-field {
  flex: auto;
  margin-right: 10px !important;
}

.add-costs-modal__product-price-field {
  margin-right: 10px !important;
}